@import url(http://fonts.googleapis.com/css?family=Inconsolata);
 html {
    background: black;
}
body {
    font-family:'Inconsolata', sans-serif;
    font-size: 16pt;
    /*overflow-x: hidden;
    overflow-y: scroll;*/
    padding: 5px;
    margin: 0;
}

.terminal-cursor {
    text-decoration: underline;
    background: black;
    color: white;
}

.terminal {
    float: left;
}
